### Idea
.idea
*.ipr
*.iws

### External jar libraries
*.jar

### Scala template
*.log
*.sc

### Sbt specific
target/
lib_managed/
src_managed/
project/boot/
.cache
lib/
project/project/
/.bsp/
.bloop

### VsCode
.vscode
.metals
metals.sbt

### Mac OSX
Icon
.DS_Store
.AppleDouble
.LSOverride
.Trashes
.TemporaryItems
